REM Local Variables
SET PWRSHELL_PATH="C:\WINDOWS\system32\WindowsPowerShell\v1.0\powershell.exe"
SET BACKUP_SCRIPT="{{ mssql_backup_script }}"

REM Execute Backup Script
%PWRSHELL_PATH% -Version 5.0 -File "{{ mssql_backup_script }}" > "{{ mssql_backup_log }}"

REM Delete Task
schtasks.exe /delete /TN "MS SQL Backup Task" /f
