
# Backup Specified Database on Server
$SQLInstance = "{{ inventory_hostname_short|upper }}\{{ mssql_db_type }}"
$SharedFolder = "{{ mssql_backup_directory }}"
$Date = Get-Date -format yyyyMMdd

Backup-SqlDatabase -ServerInstance $SQLInstance `
  -BackupAction Database `
  -Database {{ mssql_backup_database_name }} `
  -CopyOnly `
  -CompressionOption on `
  -BackupFile "$($SharedFolder)\DBBackup-{{ mssql_backup_database_name }}-$date.bak" `
  -checksum

# Touch File once Backup has completed
Add-Content c:\temp\Backup_Completed_{{ timestamp }}.txt "Backup Completed: $($SharedFolder)\DBBackup-{{ mssql_backup_database_name }}-$date.bak"