
{% for recipient in mssql_updates_dist_list %}
  Send-MailMessage -to '{{ recipient }}' -From '{{ smtp_sender }}' -Subject '[ManageIQ] MS SQL Patching Completed' -body "Attached is the Patching Log" -SmtpServer {{ smtp_server }} -Port {{ smtp_port }}  -attachment {{ updates_patch_log }}
{% endfor %}
