<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.alert {
  padding: 20px;
  background-color: #ff9800;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  text-align: center;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
</head>
<body>

<h1 align="center">Demo Application</h1>

<!-- Start Notification Here -->
{% if notification_type == "SET" %}

  <div class="alert warning">
    <span class="closebtn">&times;</span>
    <strong>Warning!</strong> This Server will be Patched and Rebooted between {{ shutdown_dates[2] }} and {{ shutdown_dates[3] }} CST
  </div>
{% else %}
  <p>&nbsp;&nbsp;</p>
{% endif %}
<!-- End Notification Here -->

<img src="acme.jpg"  class="center" alt="ACME" width="800" height="600" />

<p>&nbsp;&nbsp;</p>

<!-- Start Notification Here -->
{% if notification_type == "SET" %}

  <div class="alert warning">
    <span class="closebtn">&times;</span>
    <strong>Warning!</strong> This Server will be Patched and Rebooted between {{ shutdown_dates[2] }} and {{ shutdown_dates[3] }} CST
  </div>
{% else %}
  <p>&nbsp;&nbsp;</p>
{% endif %}
<!-- StEndart Notification Here -->

<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
</script>

</body>
</html>
