<html>
<head><h1>Attention Demo Users at all sites</h1></head>
<body>

<div>

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:Calibri;mso-bidi-font-family:Calibri'>This is a
notification that during the following times specified below, the Demo
application will be down and unavailable for use.&nbsp; Please remember to save
your work and log off the system at the following times.<o:p></o:p></span></p>

<table border=1 cellspacing=0 cellpadding=0 width=1000 style="font-size:16.0pt;background-color:#c5c6d1;">

<tr>
<td align="center" height=80 style="font-size:20.0pt"><b>Planned System Downtime Communication</b></td>
</tr>

<tr height=60>
<td>&nbsp;<b>Scheduled Downtime Information</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
</table>

<table border=1 cellspacing=0 cellpadding=0 width=1000 style="font-size:16.0pt;">
<tr>
<td height=80>&nbsp;System(s)/Environments Impacted</td><td>&nbsp;Demo Production environment</td>
</tr>

<tr>
<td>&nbsp;Downtime Schedule</td>
<td align="center" height=200>
<table border=1 cellspacing=0 cellpadding=0 width=600 style="font-size:16.0pt;">
<tr style="background-color:#505bdd;color:#ffffff;">
	<th>Time Zone</th><th>Start Time</th><th>End Time</th>
</tr>
<tr align="center">
	<td>US/Pacific</td><td>{{ shutdown_dates[4] }}</td><td>{{ shutdown_dates[5] }}</td>
</tr>
<tr align="center">
	<td>US/Central</td><td>{{ shutdown_dates[2] }}</td><td>{{ shutdown_dates[3] }}</td>
</tr>
<tr align="center">
	<td>US/Eastern</td><td>{{ shutdown_dates[0] }}</td><td>{{ shutdown_dates[1] }}</td>
</tr>
<tr align="center">
	<td>India Standard Time</td><td>{{ shutdown_dates[6] }}</td><td>{{ shutdown_dates[7] }}</td>
</tr>
<tr align="center">
	<td>China Standard Time</td><td>{{ shutdown_dates[8] }}</td><td>{{ shutdown_dates[9] }}</td>
</tr>
<tr align="center">
	<td>Galway (GMT)</td><td>{{ shutdown_dates[10] }}</td><td>{{ shutdown_dates[11] }}</td>
</tr>

</table>
</td>
</tr>

<tr>
<td height=40>&nbsp;Justification</td><td>&nbsp;Monthly Windows Patch Updates</td>
</tr>

<tr>
<td height=40>&nbsp;Special Instructions</td><td>&nbsp;N/A</td>
</tr>

<tr>
<td height=40>&nbsp;Sites/Business Impacted</td><td>&nbsp;Global</td>
</tr>

<tr>
<td height=40>&nbsp;Remedy IR #'s, Priority</td><td></td>
</tr>

<tr>
<td height=40>&nbsp;Action Owner</td><td>&nbsp;TCS team</td>
</tr>

<tr>
<td height=40>&nbsp;Actual Downtime:</td><td></td>
</tr>

</table>

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:Calibri;mso-bidi-font-family:Calibri'>&nbsp;Thank you for your cooperation and patience.

<o:p></o:p></span></p>

</body>
</html>
